.mForm input.value.b {}
.mForm p.value .buttons {position: relative; margin-left: 100%; text-align: right; top: -23px; left: -40px; width: 50px;}
.mForm p.value .buttons .button {-moz-border-radius:3px; background-color:#EEE; border:1px solid #AAA; margin:0 0 0 1px; padding:3px 6px; display: block; float: left; width: 10px; outline: none;}