/* Browser reset */
html{color:#58595B;background:#EAEAEA;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
table td{vertical-align: top;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
del,ins{text-decoration:none;}
input,textarea,select{font:11px "lucida grande",tahoma,verdana,arial,sans-serif; line-height: 1.4em;}
body {font-family: tahoma,"lucida grande",verdana,arial,sans-serif; font-size: 12px;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
a,a:hover,a:visited,a:active,span.a{border: none; text-decoration: none; color: #0083B8;}
input{-moz-border-radius: 3px; -webkit-border-radius: 3px;}
input[type=text], input[type=password] {width: 250px; padding: 1px 3px 0 3px;}
h1 {font-weight: normal;}
h2 {font-weight: normal; font-size: 14px; color: #58595B;}

/* GENERAL RULES */
.lfloat {float: left;}
.rfloat {float: right;}
.lalign {text-align: left;}
.ralign {text-align: right;}
.calign {text-align: center;}
.clear {clear: both;}
.bolded {font-weight: bold;}
._height_controll {overflow: auto;}
.lightbox {position: fixed; left: 50%; top: 50%; z-index: 200; -moz-box-shadow: 1px 1px 20px #888; z-index: 200;}
.lightbox .lightbox_bar {background-color: #627AAD; height: 15px; color: white; font-weight: bold; padding: 4px 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;}
.lightbox .lightbox_bar p.x {font-size:18px; font-weight:normal; margin-right:2px; margin-top:-22px; text-align:right;}
.lightbox .lightbox_bar p.x a {color: white; outline: none;}
.lightbox .lightbox_content {padding: 5px; background-color: #FFF; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;}
.input_cont {margin-right: 12px;}
span.separator {margin: 0 5px; position: relative; top: 2px;}

#_MAIN_CONTAINER {background-color: white; border: 10px solid #FFF; width: 970px; margin: auto;}
#_OVERLAY {background: black; width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 50; opacity: .5; filter:alpha(opacity=50);}
#_LIGHTBOXES {position: fixed; width: 100%; z-index: 100;}
#_CONTAINER {padding: 0; clear: both;}
#_HEADER {height: 82px; background: url(/g/_HEADER_BG.gif) repeat-x 0 0;}
#_LOGO_A {display: block; padding: 5px; margin: 5px; width: 75px; height: 60px; float: left; outline: none; margin-right: 15px;}
#_LOGO_IMG {width: 71px; height: 58px;}

#_MAIN_MENU_UL {position: relative; top: 25px; height: 55px; margin-left: 100px; overflow: hidden;}
#_MAIN_MENU_UL li {float: left; height: 55px; padding-top: 28px;}
#_MAIN_MENU_UL li a {color: white; padding: 8px 17px; outline: none; font-size: 14px; color: #FFF;}
#_MAIN_MENU_UL li.selected {background: url(/g/_MAIN_MENU_LI_SELECTED_BG.gif) repeat-x 0 0;}

#_FOOTER {height: 33px; background: url(/g/_FOOTER_BG.gif) repeat-x 0 -15px; padding-top: 20px; padding-left: 15px;}
#_FOOTER a {color: #FFF; outline: none;}
#_FOOTER a:hover {text-decoration: none;}
#_FOOTER span.separator {color: #EEE;}

a._BTN {height: 18px; padding: 0 5px 2px; border-radius: 5px; -moz-border-radius: 5px; color: white; -moz-box-shadow: 0px 0px 5px #FFF; -webkit-box-shadow: 0px 0px 5px #FFF; box-shadow: 0px 0px 5px #FFF; outline: none;}
a._BTN:hover {color: white;}
a._BTN.orange {background: url(/g/_BTN_ORANGE_BG.gif) repeat-x 0 0;}

._BOX_HEADER {min-height: 22px; background: #FFF url(/g/_BOX_HEADER_BG.gif) repeat-x 0 bottom; color: #0083B8; font-size: 16px; padding: 10px; font-weight: normal; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
._BOX_FOOTER {min-height: 22px; background: #FFF url(/g/_BOX_FOOTER_BG.gif) repeat-x 0 top; font-size: 16px; padding: 10px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
._BOX ._SHADOW {height: 16px;}
._BOX ._SHADOW._GREY_TOP {background: url(/g/_BOX_SHADOW_GREY_TOP.gif) repeat-x 0 0;}
._BOX ._SHADOW._WHITE_TOP {background: url(/g/_BOX_SHADOW_WHITE_TOP.gif) repeat-x 0 0;}
._BOX ._SHADOW._GREY_BOTTOM {background: url(/g/_BOX_SHADOW_GREY_BOTTOM.gif) repeat-x 0 0;}
._BOX ._SHADOW._WHITE_BOTTOM {background: url(/g/_BOX_SHADOW_WHITE_BOTTOM.gif) repeat-x 0 0;}
._BOX ._INNER {background-color: white; padding: 0 10px;}

#_POWITANIE {background-color:#FFF;
left:50%;
margin-left:-378px;
padding:2px 5px 4px;
position:absolute;
top:10px;}