RewriteEngine On
RewriteRule ^(.+)/$ $1 [R]

RewriteRule ^projekty$ servers/page.php?_PAGE=projekty&_TYPE=ustawy&%{QUERY_STRING} [L]
RewriteRule ^ustawy$ servers/page.php?_PAGE=projekty&_TYPE=ustawy&%{QUERY_STRING} [L]
RewriteRule ^uchwaly$ servers/page.php?_PAGE=projekty&_TYPE=uchwaly&%{QUERY_STRING} [L]
RewriteRule ^sprawozdania$ servers/page.php?_PAGE=projekty&_TYPE=sprawozdania&%{QUERY_STRING} [L]
RewriteRule ^umowy$ servers/page.php?_PAGE=projekty&_TYPE=umowy&%{QUERY_STRING} [L]
RewriteRule ^powolania_odwolania$ servers/page.php?_PAGE=projekty&_TYPE=powolania_odwolania&%{QUERY_STRING} [L]
RewriteRule ^rezolucje$ servers/page.php?_PAGE=projekty&_TYPE=rezolucje&%{QUERY_STRING} [L]
RewriteRule ^zmiany_regulaminu$ servers/page.php?_PAGE=projekty&_TYPE=zmiany_regulaminu&%{QUERY_STRING} [L]
RewriteRule ^inne$ servers/page.php?_PAGE=projekty&_TYPE=inne&%{QUERY_STRING} [L]


RewriteRule ^projekt/([a-zA-Z]{5})$ servers/page.php?_PAGE=projekt&_ID=$1&_TAB=proces&%{QUERY_STRING} [L]
RewriteRule ^projekt/([a-zA-Z]{5})\,(.*?)$ servers/page.php?_PAGE=projekt&_ID=$1&_TAB=$2&%{QUERY_STRING} [L]

RewriteRule ^debata/([a-zA-Z]{5})$ servers/page.php?_PAGE=debata&_ID=$1&%{QUERY_STRING} [L]
RewriteRule ^debata2/([a-zA-Z]{5})$ servers/page.php?_PAGE=debata2&_ID=$1&%{QUERY_STRING} [L]

RewriteRule ^blog/([0-9]+)$ servers/page.php?_PAGE=blog&_ID=$1&%{QUERY_STRING} [L]
RewriteRule ^blog/([0-9]+),(.*?)$ servers/page.php?_PAGE=blog&_ID=$1&%{QUERY_STRING} [L]
RewriteRule ^blog/edytuj/([0-9]+)$ servers/page.php?_PAGE=blog/edytuj&_ID=$1&%{QUERY_STRING} [L]
RewriteRule ^blog/nowy_post$ servers/page.php?_PAGE=blog/edytuj&%{QUERY_STRING} [L]

RewriteRule ^parser/([a-zA-Z0-9\_\%\/\-]+)$ SejmParser/index.php?_ACTION=$1&%{QUERY_STRING} [L]

RewriteRule ^$ servers/page.php?_PAGE=projekty&_TYPE=ustawy&%{QUERY_STRING} [L]
RewriteRule ^service/([a-zA-Z0-9\_\%\/\-]+)$ servers/service.php?_SERVICE=$1&%{QUERY_STRING} [L]
RewriteRule ^requests/([a-zA-Z0-9\_\%\/\-]+)$ servers/request.php?_SERVICE=$1&%{QUERY_STRING} [L]
RewriteRule ^pattern/([a-zA-Z0-9\_\%\/\-]+)$ servers/pattern.php?_SERVICE=$1&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9\_\%\/\-]+)$ servers/page.php?_PAGE=$1&%{QUERY_STRING} [L]
