.mForm {}
.mForm .field {padding: 4px 0; margin: 6px 0;}
.mForm .field.validate_error label.label {color: red;}
.mForm .field.validate_error input.value {border-color: red;}

.mForm .field.suggestion textarea.value, .mForm .field.suggestion input.value {background-color: #fdffe9;}

.mForm label.label {display: block; width: 20%; text-align: right; padding-right: 5px; float: left; padding-top: 0.48%; font-weight: bold; color: #444;}
.mForm p.value {margin-left: 20%; padding-left: 5px; padding-right: 15px;}

.mForm input.value.validate_error {border-color: red;}
.mForm label.label.validate_error {color: red;}

.mForm input.value, .mForm textarea.value {font-size: 12px; padding: 3px 4px; width: 100%; border: 1px solid; border-top-color: #A4A4A4; border-right-color: #C1C1C1; border-left-color: #C1C1C1; border-bottom-color: #A4A4A4; -moz-border-radius: 3px;}
.mForm input.value.date {width: 77px; margin-right: 5px;}
.mForm input.value.guess {background-color: #FFD;}

.mForm p.value.multi {height:24px; overflow:hidden;}
.mForm p.value.multi:first-child {padding-left: 0;}
.mForm p.value.border {overflow: hidden; padding: 1px 4px 3px; border: 1px solid; border-top-color: #A4A4A4; border-right-color: #C1C1C1; border-left-color: #C1C1C1; border-bottom-color: #A4A4A4; -moz-border-radius: 3px; margin-right: 5px; min-height: 17px;}
.mForm label.radio {display:block; float:left; width:33%;}
.mForm label.radio input {margin-right: 4px; margin-top: 4px;}
.mForm label.radio span {position: relative; top: -1px;}


div.autocomplete {margin:0px; padding:0px; width:250px; background:#fff; border:1px solid #888; position:absolute; z-index: 1;}
div.autocomplete ul {margin:0px;padding:0px; list-style-type:none;}
div.autocomplete ul li.selected {background-color:#ffb;}
div.autocomplete ul li {margin:0; padding:2px; height:32px; display:block; list-style-type:none; cursor:pointer;}