h1 a._BTN {font-size: 12px; position: relative; top: -2px;}

#content {width: 550px; float: left;}
#side_div {margin-left: 562px;}

#fb-root {margin-top: 15px; padding-top: 15px; border-top: 1px solid #CCC;}

#glowny_post {}
#glowny_post h2 {font-size: 16px;}
#glowny_post .admin_buttons {padding: 5px 0;}
#glowny_post .info {font-size: 11px; margin-top: 1px;}
#glowny_post .baner {width: 550px; margin: 5px 0;}
#glowny_post .opis {font-size: 13px; margin: 10px 0 18px;}
#glowny_post .tresc {font-size: 13px; margin-top: 10px;}
#glowny_post .tresc p {margin: 10px 0;}
#glowny_post .tresc p:first-child {margin-top: 0;}
#glowny_post .tresc p:last-child {margin-bottom: 0;}

#ostatnie_posty h3 {font-weight: normal; margin-bottom: 5px;}
#ostatnie_posty .post {border-bottom: 1px solid #BBB; padding: 10px 0;}
#ostatnie_posty .post:last-child {border-bottom: none;}
#ostatnie_posty .tytul {}
#ostatnie_posty .info {font-size: 11px; margin-top: 1px;}
#ostatnie_posty .opis {margin-top: 3px;}

#wykres {height: 403px;}
#blog_info {}
#blog_logo {display: block; margin: 10px 0 3px;}
#blog_tools {
border-color:#CCC;
border-style:solid none;
border-width:1px;
margin:10px 0;
padding:4px 5px;}

.admin_buttons {margin: 0;}
.nowy_post_p {margin: 5px 0 2px;}

#blog_info .tytul {}
#blog_info .rss {}

#ostatnie_wpisy .data {font-size: 11px;}
#ostatnie_wpisy .tytul {font-size: 14px;}
#ostatnie_wpisy .post {border-bottom: 1px solid #CCC; padding: 5px 0;}
#ostatnie_wpisy .post:last-child {border-bottom: none;}

#tabela {background-color: white; padding: 10px 0 30px;}
.tableCell span.i {font-style: italic;}
.tableCell {padding: 4px !important; text-align: center !important;}
.google-visualization-table-tr-head td {padding: 5px !important; text-align: center;}