._BOX_HEADER {overflow: auto;}
._BOX_HEADER .kalendarzyk {float: left;}
._BOX_HEADER .ikona_legislacyjna {width: 37px; height: 37px; background: url(/g/ikony_sprite.gif) no-repeat -74px -37px; float: left; margin-left: 8px;}
._BOX_HEADER .c {margin-left: 91px; position: relative; top: -5px;}
._BOX_HEADER .tytul {font-size:18px; top: -2px;}
._BOX_HEADER .cc {font-size:13px; color: #58595B; margin-top: 3px;}
._BOX_HEADER h1 {font-size: 16px;}

#wyp {width: 550px;}
#wyp .text {font-size: 110%; line-height: 1.45em; text-align: justify;}
#wyp .text p {margin: 10px 0;}
#wyp .text p.wMarszalek {padding: 5px; background-color: #EEEEF5; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #777;}


#wyp .info {min-height: 54px;}
#wyp .info .opis {margin-left: 59px;}
#wyp .info .opis .autor {font-size: 14px;}
#wyp .info .opis .funkcja {font-size: 12px;}
#wyp .info .opis .funkcja span.f {font-weight: bold;}
#wyp .link {margin-top: 5px; text-align: right;}


.avatar {padding: 1px; background-color: #FFF; border: 1px solid #BBB; -moz-border-radius: 3px; -webkit-border-radius: 3px; float: left;}
.avatar.c {width: 50px; height: 50px;}

.wnioskodawca {font-size: 12px; color: #58595B; margin-top: 5px; text-align: right;}
.e.oswiadczenia .ikona_legislacyjna {display: none;}
.e.oswiadczenia .c {margin-left: 46px;}