.mBrowser .list {width: 250px;}
.mBrowser .item {margin-left: 250px;}

.mForm label.label {width: 50px;}
.mForm p.value {margin-left: 50px;}

.sejm_id {font-size: 11px; border-top: 1px solid #CCC; margin-top: 5px; padding-top: 5px;}