.mBrowser .list {width: 150px;}
.mBrowser .item {margin-left: 150px;}

.mBrowser .item .tools {}
.mBrowser .item .tools a {display: block; margin: 5px;}

.mBrowser .item ul.flags {margin-left:110px; min-height:140px;}
.mBrowser .item ul.flags li {list-style: disc inside; padding: 5px;}
.mBrowser .item ul.flags .error {color: #C00;}
.mBrowser .item ul.flags .ok {color: #060;}

#_COL_RIGHT {padding-right: 0;}
#browser {width: 50%; float: left;}
#scribd_cont {width: 50%; overflow: auto;}
#scribd {margin-left: 10px; text-align: center; background-color:#EEE; border:1px dashed #CCC; font-size:13px; overflow: hidden;}
#scribd .msg {position: relative; top: 50%; margin-top: -8px;}

.druk_title_bar {background-color: #EEE; padding: 5px 8px; -moz-border-radius: 5px; margin-bottom: 10px;}

#duplikaty_div {background-color: #CCC; padding: 10px; margin-bottom: 10px; -moz-border-radius: 5px;}

#duplikaty_table {width: 100%; background-color: white;}
#duplikaty_table td, #duplikaty_table th {border: 1px solid #CCC; text-align: center; padding: 3px; width: 1%;}
#duplikaty_table th {font-weight: bold;}
#duplikaty_table tr.buttons {background-color:#EEE; text-align: center}

.druki_oryginalne {background-color: #FCC; padding: 10px;}