#content p {margin: 8px 0;}
#content p.smaller {margin-top: -7px; color: #888; font-size: 11px;}

#logotypy {height: 74px;}
#logotypy a {margin: 0 10px; outline: none;}
#logotypy a:first-child {margin-left: 0;}
#logotypy a:last-child {margin-right: 0;}
#logotypy img {background: white url(/g/fundatorzy_logosy.png) no-repeat 0 0;}

#logotypy img.batory {background-position: -61px -35px; width: 61px; height: 45px;}
#logotypy img.batory:hover {background-position: 0 -35px;}

#logotypy img.osi {background-position: -145px 0; width: 145px; height: 35px; top: -5px; position: relative;}
#logotypy img.osi:hover {background-position: 0 0;}

#logotypy img.mysociety {background-position: -122px -53px; width: 91px; height: 18px; top: -10px; position: relative;}
#logotypy img.mysociety:hover {background-position: -122px -35px;}

#funkcje_ul li {list-style:disc outside none; margin-left:30px;}
#adres_div {-moz-border-radius:5px; border: 5px; background-color:#EEE; font-size:12px; margin:30px 0; padding:5px 8px; text-align: left;}
#adres_div p {margin: 0;}
#adres_div p.smaller {color: #666;}
#form_div {margin-top: 5px;}

#adres_input {margin-right: 5px; display: block; width: 215px; margin: 2px 0;}
#fundatorzy {border-top:1px solid #CCCCCC; font-size:12px; margin-top:20px; padding-top:10px;}
#fundatorzy p.info {margin-bottom: 10px;}

#content {padding-right: 290px; min-height: 265px; font-size: 13px;}