._BOX_TABLE {width: 100%;}
._BOX_TABLE ._LEFT_TD {background: #E6E6E6; width: 220px; height: 400px;}
._BOX_TABLE ._RIGHT_TD {background: #FFF;}
._BOX_TABLE ._MAIN_TR td {padding: 0 10px;}

._BOX._HORIZONTAL ._LEFT {position: absolute; padding: 16px; width: 204px;}
._BOX._HORIZONTAL ._TOP, ._BOX._HORIZONTAL ._BOTTOM {min-height: 16px; padding-left: 204px;}
._BOX._HORIZONTAL ._TOP {background: #E6E6E6 url(/g/_BOX_SHADOW_GREY_TOP.gif) repeat-x top; padding-top: 16px;}
._BOX._HORIZONTAL ._BOTTOM {background: #FFF url(/g/_BOX_SHADOW_WHITE_BOTTOM.gif) repeat-x bottom; padding-bottom: 16px; padding-top: 13px; border-top: 1px solid #CCC; min-height: 165px; padding-right: 16px;}

._BOX td {text-align: left;}
._BOX ._TABS {position: relative; top: -2px; font-size: 14px;}
._BOX ._TABS a {background-color: #F2F2F2; padding: 2px 10px; margin: 0 2px; outline: none; border-bottom: 1px solid #CCC; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px;}
._BOX ._TABS a.selected {background-color: #FFF; padding: 2px 10px 3px; border: 1px solid #CCC; border-bottom: none; color: #58595B;}

._BOX_HEADER h1 {font-size: 18px;}