._BOX_FOOTER {
  text-align: center;
  font-size: 12px;
}
._BOX_FOOTER a {margin: 0 5px; position: relative; top: 2px;}


#formDiv {width: 697px; margin: 0 auto;}
#form textarea {width: 685px; border: 1px solid #D3D3D3; -moz-border-radius: 4px; -webkit-border-radius: 5px; padding: 2px; color: #58595B; font-size: 12px;}
#form .f {padding-top: 10px;}
#form h2 {margin-bottom: 1px; color: #0083B8; margin-left: 2px;}