.docthumbs_a {outline: none;}
.docthumbs_a.B img {width: 100px; height: 124px;}
.docthumbs_a.B img {width: 75px; height: 93px;}
.docthumbs_a.E img {width: 265px; height: 343px;}
.docthumbs_a img {-moz-box-shadow:1px 1px 2px #DDD; border:1px solid #DDD;}