#dzien {padding-right: 5px;}
#_COL_RIGHT {padding-right: 0;}
#browser {width: 57%; float: left;}
#side_div_cont {width: 43%; overflow: auto;}
#side_div {margin-left: 10px; text-align: left; background-color:#EEE; border:1px dashed #CCC; font-size:13px; overflow: auto; -moz-border-radius: 5px;}
#side_div .msg {position: relative; top: 50%; margin-top: -8px;}

.mBrowser .list {width: 250px;}
.mBrowser .item {margin-left: 250px;}

.punkty_row a {display: block; margin: 15px 5px; color: #333; text-decoration: none;}

#duplikaty_div {background-color: #CCC; padding: 0; margin-bottom: 10px; -moz-border-radius: 5px;}

#duplikaty_table {width: 100%; background-color: white;}
#duplikaty_table td, #duplikaty_table th {border: 1px solid #CCC; text-align: center; padding: 3px; width: 1%;}
#duplikaty_table th {font-weight: bold;}
#duplikaty_table tr.buttons {background-color:#EEE; text-align: center}
#duplikaty_table i {color: #AAA;}

span.separator {margin: 0 10px;}
.mBrowser .inner_title_bar {line-height:  18px;}

.buttons p {margin: 5px 0;}

.wyp {background-color: #FFF; margin: 10px 5px; border: 1px solid #BBB; -moz-border-radius: 4px;}
.wyp .bar {background-color: #CCC; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; padding: 2px 5px;}
.wyp .text { padding: 5px;}
.wyp .bar i {color: #A33;}

.wyp.wypowiedz {border: 1px solid #CCC;}
.wyp.wypowiedz .bar {color: #999; background-color: #E3E3E3;}

.punkty_row td {text-align: left !important;}

.punkty_row .item {margin: 20px 0;}
.punkty_row .punkt_nr {-moz-border-radius: 5px 5px 5px 5px;
    background: url("/g/_HEADER_BG.gif") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline;
    font-size: 14px;
    padding: 0 6px;
    float: left;
    margin-right: 5px;}
.punkty_row .sejm_id {position: relative; top: -2px; overflow: auto;}